extends ../base
//- https://github.com/new

block content
  .new-topic
    h1 Edit a new topic
    if errorMessage
      span#errorMessage=errorMessage
    form(method="POST", autocomplete="off")
      .new-topic__inputs-group
        .new-topic__input
          span TODO : Checking if a topic exists through the API(v.JS)
          label(for="topic-title") Topic title
          span TODO : Checking for space in the title(v.JS)
          input(type="text", id="topic", name="title", required=true, value=topic.title)
          span.error-message Topic already does exist
          span TODO : add link after ?(v.JS)
          a(href=`/new?topic=${topicTitle}`) Write a poster with this topic &rarr;
        .new-topic__input
          label(for="topic-description")
            span Description
            span (optional)
          input(type="text", id="topic-description", name="description", placeholder="Write a nice description...", maxlength=300, required=true, value=topic.description)
        .new-topic__input
      .new-topic__submit
        input(type="submit", value="Create topic")
