extends ../base
//- https://github.com/new

block content
  .new-topic
    h1 Create a new topic
    if errorMessage
      span=errorMessage
    form(method="POST", autocomplete="off").new-topic__inputs
      .new-topic__inputs-group
        .new-topic__input
          span TODO : Checking if a topic exists through the API(v.JS)
          label(for="topic-title") Topic title
          span TODO : Checking for space in the title(v.JS)
          input(type="text", id="topic", name="title", required=true)
          span.new-topic__error-message Topic already does exist
          span TODO : add link after ?(v.JS)
          a(href=`/new?topic=${topicTitle}`) Write a poster with this topic &rarr;
      .new-topic__inputs-group
        .new-topic__input
          label(for="topic-description")
            span Description
            span (optional)
          input(type="text", id="topic-description", name="description", placeholder="Write a nice description...", maxlength=300, required=true)
        .new-topic__input
          label(for="topic-unipue-color")
            span Unique Color
            span (optional)
          input(type="color", id="topic-unipue-color", name="uniqeColor")
          span TODO : Choose random color if user click this btn
          button(type="button") Choose random color
      .new-topic__inputs-group
        .new-topic__input
          span TODO : TODOTODOTODOTODO!!!!!!!!!
          label(for="types") Types
          span Choose one of the types below
          span Agree / Disagree
          span Opinion
          span Many Positions
          input(type="text" required=true, name="type")
      .new-topic__submit
        input(type="submit", value="Create topic")
