extends ../base
//- https://github.com/new

block content
  .new-poster
    h1 Create a new poster
    if errorMessage
      span=errorMessage
    form(method="POST").new-poster__inputs
      .new-poster__inputs-group
        span TODO : Checking if a topic exists through the API
        label(for="topic") Topic
        input(type="text", id="topic", name="topic", required=true)
        span.new-poster__error-message Topic does not exist
      .new-poster__inputs-group
        .new-poster__input
          label(for="poster-title") Poster title
          input(type="text", id="poster-title", name="title", placeholder="Write a nice title...", maxlength=25, required=true)
          span.new-poster__error-message Can't think of what the topic will be?
            a(href="/random/topic") Choose a topic at random!
      .new-poster__inputs-group
        .new-poster__input
          label(for="poster-description")
            span Description
            span (optional)
          input(type="text", id="poster-description", name="description", placeholder="Write a nice description...", maxlength=300, required=true)
        .new-poster__input
          label(for="poster-unipue-color")
            span Unique Color
            span (optional)
          input(type="color", id="poster-unipue-color", name="uniqueColor", required=true)
          span TODO : Choose random color if user click this btn
          input(type="button", value="Choose random color")
      .new-poster__submit
        input(type="submit", value="Create poster")
