extends ../base
include ../components/info
include ../components/top-bar
//- https://github.com/Novelier-Webbelier/Novelier-Webbelier

block content
  if errorMessage
    span#errorMessage=errorMessage
  else
    .watch-poster
      +posterTopBar(poster)
      .watch-poster__main
        .watch-poster__main__content
          .poster__title
            .poster__title__element
              i.fas.fa-list
              span=poster.title
            .poster__title__element#posterFullScreen
              i.fas.fa-expand
          #poster(data-content=poster.text, data-poster-info={
            owner: poster.owner.username,
            editingUserId: loggedInUser._id,
            title: poster.title,
            content: content
          })
            .markdown-body
        .watch-poster__side-bar
          .watch-poster__side-bar__ok
            .side-bar__element.side-bar__about
              h4 About
              p=poster.description
            .side-bar__element.side-bar__info
              +info(poster.meta.views, poster.meta.rating, poster.meta.star)
            hr(noshade)
            .side-bar__element.side-bar__link#copycopy(data-copy-this=`/${poster.owner.username}/${poster.title}`)
              span Click to Share this poster!
            hr(noshade)
            .side-bar__element.side-bar__type
              h4 Types
              span #{poster.topic.type} - #{poster.position}
            hr(noshade)
            if String(poster.owner._id) === String(loggedInUser._id)
              .side-bar__element.side-bar__edit
                h4 Edit Poster
                button(type="button", data-redirect-to=`/${poster.owner.username}/${poster.title}/edit`).good-button#editBtn Edit Poster
                button(type='button', data-redirect-to=`/${poster.owner.username}/${poster.title}/delete`).danger-button#deleteBtn Delete Poster

block scripts
  script(src="/static/js/copy.js")
  script(src="/static/js/markdown.js")
  script(src="/static/js/deletePoster.js")
