//- https://github.com/new

//- First letter of the type is uppercase letter
mixin new(types)
  .new-main
    .new
      .new__title
        h1 Create a new #{types}
      hr(noshade)
      if errorMessage
        span#errorMessage.good-message=errorMessage
      else
        span#errorMessage.good-message
      form(method="POST", autocomplete="off")
        .new__inputs-group
          .new__input__top
            .new__input__top__top
              div
                label(for="owner") Owner
                  span.danger *
                button(type="button", id="owner")
                  img(src=loggedInUser.avatarUrl)
                  span=loggedInUser.username

              span.separator / 

              div
                label(for="title") #{types} Title
                  span.danger *
                input(type="text", id="posterTitle", placeholder=`Awesome ${types}...`, name="title", required, maxLength=25)
            .new__input__top__mid
              label(for="description") Description
                span.reparator.optional (optional)
              input(type="text", id="description", name="description", maxLength=300)
              hr(noshade)
          if types === "Topic"
            .new__input__top__bottom
              label(for="positions") Positions
              .positions__buttons#positionsButton
                button(type="button")#agreeAndDisagree Agree / Disagree
                button(type="button")#manyPositions Many Positions

          if types === "Poster"
            .new__input__top__bottom
              label(for="topicTitle") Topic
                span.danger  * 
              input(type="text", id="topicTitle", name="topic", required)
            hr(noshade).new__hr
            .new__input__top__bottom
              label(for="positions")#newPosterExp Choose your position
                span.danger  * 
              .new-poster__positions#positionBox.none-display
                input(type="text", id="positions", name="positions", required)
              .new-poster__agree-disagree#agreeDisagreeBtns.none-display
                button(type="button")#agree Agree
                button(type="button")#disagree Disagree
              .new-poster__none#chooseTopic
                label Choose a Topic
              hr(noshade).new__hr


        input(type="submit", value="Create " + types, disabled).good-button__not-ready#newPosterSubmitBtn
