mixin pinPoster(allPoster)
  #myPoster
    h3 #{loggedInUser.username}'s all poster
    each poster in allPoster
      .my-poster__element
        .my-poster__element__top
          i.fa.fa-book
          a(href=`/${poster.owner.username}/${poster.title}`)
            h4=poster.title
        .my-poster__element__mid
          if !poster.description
            p This poster have no description
          else
            p=poster.description
        .my-poster__element__bottom
          i.fa.fa-lightbulb
          span=poster.topic.title

mixin pinTopic(allTopic)
  #myTopic
    h3 #{loggedInUser.username}'s all topic
    each topic in allTopic
      .my-topic__element
        .my-topic__element__top
          i.fa.fa-lightbulb
          a(href=`/topics/${topic.title}`)
            h4=topic.title
        .my-topic__element__mid
          p=topic.description
        .my-topic__element__bottom
          span=topic.type
