mixin posterCard(poster)
  //- CSS TODO : add invert color style to text
  .poster-card(style=`background-color: ${poster.uniqeColor};`)
    .poster-card__top-bar
      .poster-card__top-bar__title
        i.fa.fa-book
        a(href=`/${poster.owner.username}`)=poster.owner.username
        h2
          a(href=`/${poster.owner.username}/${poster.title}`)=poster.title
      .poster-card__top-bar__info
        .poster-card__top-bar__info__star
          i.fa.fa-star
          span=poster.meta.star
          if 0 <= poster.meta.raiting &&  poster.meta.raiting < 1
            i.far.fa-tired
          else if 1 <= poster.meta.raiting && poster.meta.raiting < 2
            i.far.fa-frown-open
          else if 2 <= poster.meta.raiting && poster.meta.raiting <= 3
            i.far.fa-meh
          else if 3 < poster.meta.raiting && poster.meta.raiting <= 4
            i.far.fa-laugh
          else if 4 < poster.meta.raiting && poster.meta.raiting <= 5
            i.far.fa-grin-squint
          span=poster.meta.raiting
    .poster-card__bottom-bar
      .poster-card__bottom-bar__description
        p=poster.description
      .poster-card__bottom-bar__created-at
        span=poster.createdAt
