include ../components/info

mixin posterCard(poster)
  //- CSS TODO : add invert color style to text
  #posterCard(style=`background-color: ${poster.uniqeColor};`)
    .poster-card__top-bar
      div
        i.fa.fa-book
        a(href=`/${poster.owner.username}`)=poster.owner.username
        span /
        a(href=`/${poster.owner.username}/${poster.title}`)=poster.title
      div
        +info(poster.meta.views, poster.meta.rating, poster.meta.star)
    .poster-card__bottom-bar
      div
        p=poster.description
      div
        span=poster.createdAt
