mixin suggestionPosterCard(suggestionPoster)
  #sugPostersCard
    .sug-posters-card__top-bar
      //- TODO : Change this from text to image of creator
      span !#{suggestionPoster.owner.username}!
      span=suggestionPoster.owner.username
    .sug-posters-card__main
      span=suggestionPoster.title
      span Topic : #{suggestionPoster.topic.title}
      button
        i.far.fa-eye
        span Watch

mixin suggestionTopicCard(suggestionTopic)
  #sugTopicCard
    .sug-topic-card__top-bar
      span=suggestionTopic.title
      span=suggestionTopic.description
    .sug-topic-card__bottom-bar
      i.fa.fa-book=suggestionTopic.posters.length
      i.far.fa-star=suggestionTopic.meta.star
