mixin suggestionPosterCard(suggestionPoster)
  include ./info
  #sugPostersCard
    .sug-posters-card__top-bar
      img(src=suggestionPoster.owner.avatarUrl)
      span=suggestionPoster.owner.username 
    .sug-posters-card__main
      .sug-posters-card__main__title
        a(href=`/${suggestionPoster.owner.username}`)
          span=suggestionPoster.owner.username
        span.separator  / 
        a(href=`/${suggestionPoster.owner.username}/${suggestionPoster.title}`)
          span=suggestionPoster.title
      .sug-posters-card__bottom
        p.description=suggestionPoster.description
      .sug-posters-card__info
        +info(suggestionPoster.meta.views, suggestionPoster.meta.rating, suggestionPoster.meta.star)

mixin suggestionTopicCard(suggestionTopic)
  #sugTopicCard
    .sug-topic-card__top-bar
      span=suggestionTopic.title
      span=suggestionTopic.description
    .sug-topic-card__bottom-bar
      i.fa.fa-book=suggestionTopic.posters.length
      i.far.fa-star=suggestionTopic.meta.star
