extends ../base
include ../components/pin
//- https://github.com/Novelier-Webbelier

block content
  .top-bar
    nav
      ul
        li
          a(href=`/${user.username}`) Overview
        li
          a(href=`/${user.username}?tab=posters`) Posters
        li
          a(href=`/${user.username}?tab=topics`) Topics
        li
          a(href=`/${user.username}?tab=stars`) Stars
  #profile(data-user-id=user._id, data-logged-in-user-id=loggedInUser._id)
    .user-info
      span User Image
      div
        h1=user.name
        span=user.username
      div
        p=user.bio
      if String(user._id) === String(loggedInUser._id)
        div
          button#edit-profile-btn Edit Profile
      div
        i.fa.fa-book
        span #{user.posters.length} Posters
        i.far.fa-lightbulb
        span #{user.topics.length} Topics
    .main
      #overview
        +pinPoster(user.posters)
        +pinTopic(user.topics)
